* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
}

.form_input {
  width: 300px;
  height: 30px;
  color: rgb(46, 46, 219);
  background-color: rgb(183, 183, 241);
  border: 2px solid rgb(46, 46, 219);
  padding-left: 10px;
  font-weight: 600;
  border-radius: 5px;
}

.form_select {
  width: 80px;
  height: 30px;
  color: rgb(46, 46, 219);
  background-color: rgb(183, 183, 241);
  border: 2px solid rgb(46, 46, 219);
  border-radius: 5px;
  font-weight: 600;
}

.form_btn {
  width: 380px;
  height: 25px;
  color: brown;
  background-color: rgb(224, 155, 155);
  border: 2px solid brown;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.natija {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.natija p {
  color: rgb(16, 118, 16);
  font-weight: 600;
}

.result {
  text-align: center;
  width: 80px;
  height: 25px;
  color: rgb(16, 118, 16);
  background-color: rgb(151, 228, 151);
  border: 2px solid rgb(16, 118, 16);
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 600;
}
